<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>title</title>
  </head>
  <body>
    <form
      th:action="@{/registerUser}"
      method="post"
      th:object="${registerUserForm}"
    >
      <!-- 姓 -->
      <div>
        <label for="lastName">姓：</label>
        <input type="text" th:field="*{lastName}" id="lastName" />
        <div
          th:if="${#fields.hasErrors('lastName')}"
          th:errors="*{lastName}"
          style="color: red"
        ></div>
      </div>

      <!-- 名 -->
      <div>
        <label for="firstName">名：</label>
        <input type="text" th:field="*{firstName}" id="firstName" />
        <div
          th:if="${#fields.hasErrors('firstName')}"
          th:errors="*{firstName}"
          style="color: red"
        ></div>
      </div>

      <!-- メールアドレス -->
      <div>
        <label for="email">メールアドレス：</label>
        <input type="text" th:field="*{email}" id="email" />
        <div
          th:if="${#fields.hasErrors('email')}"
          th:errors="*{email}"
          style="color: red"
        ></div>
      </div>

      <!-- パスワード -->
      <div>
        <label for="password">パスワード：</label>
        <input type="password" th:field="*{password}" id="password" />
        <div
          th:if="${#fields.hasErrors('password')}"
          th:errors="*{password}"
          style="color: red"
        ></div>
      </div>

      <!-- 確認用パスワード -->
      <div>
        <label for="confirmPassword">確認用パスワード：</label>
        <input
          type="password"
          th:field="*{confirmPassword}"
          id="confirmPassword"
        />
        <div
          th:if="${#fields.hasErrors('confirmPassword')}"
          th:errors="*{confirmPassword}"
          style="color: red"
        ></div>
      </div>

      <!-- 郵便番号 -->
      <div>
        <label for="zipcode">郵便番号：</label>
        <input
          type="text"
          th:field="*{zipcode}"
          id="zipcode"
          placeholder="123-4567"
        />
        <div
          th:if="${#fields.hasErrors('zipcode')}"
          th:errors="*{zipcode}"
          style="color: red"
        ></div>
        <button type="button" id="btn">住所取得</button>
      </div>

      <!-- 都道府県 -->
      <!-- <div>
        <label for="prefecture">都道府県：</label>
        <input type="text" th:field="*{prefecture}" id="prefecture" />
        <div
          th:if="${#fields.hasErrors('prefecture')}"
          th:errors="*{prefecture}"
          style="color: red"
        ></div>
      </div> -->

      <!-- 都道府県（選択式） -->
      <div>
        <label for="prefecture">都道府県：</label>
        <select th:field="*{prefecture}" id="prefecture">
          <option value="">--</option>
          <option value="北海道">北海道</option>
          <option value="青森県">青森県</option>
          <option value="岩手県">岩手県</option>
          <option value="宮城県">宮城県</option>
          <option value="秋田県">秋田県</option>
          <option value="山形県">山形県</option>
          <option value="福島県">福島県</option>
          <option value="茨城県">茨城県</option>
          <option value="栃木県">栃木県</option>
          <option value="群馬県">群馬県</option>
          <option value="埼玉県">埼玉県</option>
          <option value="千葉県">千葉県</option>
          <option value="東京都">東京都</option>
          <option value="神奈川県">神奈川県</option>
          <option value="新潟県">新潟県</option>
          <option value="富山県">富山県</option>
          <option value="石川県">石川県</option>
          <option value="福井県">福井県</option>
          <option value="山梨県">山梨県</option>
          <option value="長野県">長野県</option>
          <option value="岐阜県">岐阜県</option>
          <option value="静岡県">静岡県</option>
          <option value="愛知県">愛知県</option>
          <option value="三重県">三重県</option>
          <option value="滋賀県">滋賀県</option>
          <option value="京都府">京都府</option>
          <option value="大阪府">大阪府</option>
          <option value="兵庫県">兵庫県</option>
          <option value="奈良県">奈良県</option>
          <option value="和歌山県">和歌山県</option>
          <option value="鳥取県">鳥取県</option>
          <option value="島根県">島根県</option>
          <option value="岡山県">岡山県</option>
          <option value="広島県">広島県</option>
          <option value="山口県">山口県</option>
          <option value="徳島県">徳島県</option>
          <option value="香川県">香川県</option>
          <option value="愛媛県">愛媛県</option>
          <option value="高知県">高知県</option>
          <option value="福岡県">福岡県</option>
          <option value="佐賀県">佐賀県</option>
          <option value="長崎県">長崎県</option>
          <option value="熊本県">熊本県</option>
          <option value="大分県">大分県</option>
          <option value="宮崎県">宮崎県</option>
          <option value="鹿児島県">鹿児島県</option>
          <option value="沖縄県">沖縄県</option>
        </select>
        <div
          th:if="${#fields.hasErrors('prefecture')}"
          th:errors="*{prefecture}"
          style="color: red"
        ></div>
      </div>

      <!-- 市区町村 -->
      <div>
        <label for="municipalities">市区町村：</label>
        <input type="text" th:field="*{municipalities}" id="municipalities" />
        <div
          th:if="${#fields.hasErrors('municipalities')}"
          th:errors="*{municipalities}"
          style="color: red"
        ></div>
      </div>

      <!-- 住所 -->
      <div>
        <label for="address">住所：</label>
        <input type="text" th:field="*{address}" id="address" />
        <div
          th:if="${#fields.hasErrors('address')}"
          th:errors="*{address}"
          style="color: red"
        ></div>
      </div>

      <!-- 電話番号 -->
      <div>
        <label for="telephone">電話番号：</label>
        <input
          type="text"
          th:field="*{telephone}"
          id="telephone"
          placeholder="012-3456-7890"
        />
        <div
          th:if="${#fields.hasErrors('telephone')}"
          th:errors="*{telephone}"
          style="color: red"
        ></div>
      </div>

      <div>
        <button>登録</button>
      </div>
    </form>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script th:src="@{/js/topPage.js}"></script>
  </body>
</html>
